@import './scss//functions';
@import './scss/variables';

$new-primary: rgb(255, 200, 0);
$new-dark: rgb(0, 0, 0);
$new-secondary: rgb(255, 157, 0);

$new-theme-colors: (
  'primary': $new-primary,
  'dark': $new-dark,
  'secondary': $new-secondary,
);

$theme-colors: map-merge($theme-colors, $new-theme-colors);

.card-home:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.5);
}

@import './scss/bootstrap.scss';
